*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    background-color: transparent;
    color: inherit;
    border-width: 0;
    padding: 0;
    cursor: pointer;
}

figure {
    margin: 0;
}

input::-moz-focus-inner {
    border: 0;
}

ul,
ol,
dd {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
}

.catalog {}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.catalog__body {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.catalog__item {
    max-width: calc(33% - 15px);
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
}

.catalog__item a {
    display: inline-block;
}

.catalog-item__img {}

.catalog-item__title {}

.catalog-item__price {}